<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="posts">
      <ion-icon name="globe"></ion-icon>
      <ion-label>{{'common.posts' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ads">
      <ion-icon name="business"></ion-icon>
      <ion-label>{{ 'common.advertisement' | translate}}</ion-label>
    </ion-tab-button>

    

    <ion-tab-button tab="add-post">
      <ion-icon name="md-add"></ion-icon>
      <ion-label>{{ 'common.add-post' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="info">
      <ion-icon name="sunny"></ion-icon>
      <ion-label>{{ 'common.latest-info' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
