<ion-header>
  <ion-toolbar>
    <ion-title>Select Language</ion-title>
    <ion-buttons slot="primary">
      <ion-button><ion-icon name="close"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content margin>
  <ion-grid>
    <ion-row>
      <ion-col margin>
        <ion-card padding>
          <ion-card-header text-center>
              <ion-text><h2>Change Language:</h2></ion-text>
          </ion-card-header>
          <ion-list>
            <ion-button (click)="changeLang('en')" shape="round" size="large" color="tertiary" expand="block">English</ion-button>
            <ion-button (click)="changeLang('hindi')" shape="round" size="large" color="dark" expand="block">Hindi</ion-button>
          </ion-list>

        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
